# API Configuration
VITE_API_BASE_URL=backend_url
VITE_API_TIMEOUT=api_timeout
VITE_CSRF_COOKIE_NAME=csrf_cookie_name
VITE_CSRF_HEADER_NAME=csrf_header_name
DEV=True

# Authentication Endpoints
VITE_AUTH_LOGIN_ENDPOINT=login
VITE_AUTH_REGISTER_ENDPOINT=register
VITE_AUTH_VALIDATE_TOKEN_ENDPOINT=validate-token
VITE_AUTH_REFRESH_TOKEN_ENDPOINT=refresh-token
VITE_AUTH_LOGOUT_ENDPOINT=logout
